#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap:10px;
}
.container{
  justify-content: center;
  gap: 20px;
  width: 500px;
  height: 700px;
  background-color: aliceblue;
  color: black;
  
}
/* .btn{
  padding: 10px;
  border-radius: 5px;
} */
 .btn {
  display: flex;
  /* justify-content: space; */
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

.btn button {
  margin-left: auto;
}




