#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap:10px;
}

.container{
  justify-content: center;
  gap: 20px;
  width: 500px;
  height: 900px;
  background-color: paleturquoise;
  color: black;
}

 .btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  gap: 10px;
}

.btn button {
  margin-left: auto;
}

button
{
    margin-left: auto;
}

.in{
  width: 150px;
  height: 25px;
}




